#gridContainer {
  padding-bottom: 10px;
}

table {
  background-color: #C5D6C6;
  border-spacing: 0;
  border: 3px solid #000000;
}

td {
  border: 1px solid #F1F5DA;
  border-radius: 3px;
  height: 10px;
}

span {
  color: #222;
}

#start,
#clear{
  padding: .75em;
  border-radius: 5px;
  margin-right: 5px;
  border: transparent;
  background: linear-gradient(
                  to bottom right,
                  var(--primary-color), var(--primary-color));
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: var(--primary-color);
  border-radius: 10px;
}